---

---

<section class="bg-white dark:bg-gray-900">
  <div
    class="mx-auto max-w-screen-xl gap-16 px-4 py-8 lg:grid lg:grid-cols-2 lg:px-6 lg:py-16"
  >
    <div class="mb-12">
      <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
        <h2
          class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          About Yellow City Web Design
        </h2>
        <p class="mb-4">
          My name is Derrick Shaw. I started YCWD in 2024, after I quit my
          software developer job. I have a combined 10 years experience in
          Information technology, full stack development, and web development.
        </p>
        <p class="mb-4">
          YCWD's goal is to make modern websites for people and businesses that
          need websites to just work.
        </p>
      </div>
      <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
        <h2
          class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Best in class results
        </h2>
        <p class="mb-4">
          I started YCWD with SEO in mind. I hand-selected a framework that is
          lightweight, fast, and built around SEO best practices. Current web
          design is a race to the bottom. I want to offer a best-in-class web
          experience that doesn't rely on bulky plugins to help in web searches.
        </p>
        <p>
          I also focus on perfomance, accessability, and modern best practices
          when developming websites. We do not cut corners. What this means is
          that you get consistantly high ranking SEO scores, along with top
          speed and pefromance scores across the board.
        </p>
      </div>
    </div>

    <div class="md:mt-24">
      <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
        <h2
          class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Modern web development redefined
        </h2>
        <p class="mb-4">
          Our sites are hand-written, with a modern technology stack that
          includes AstroJS and TailwindCSS.
        </p>
        <p class="mb-4">
          We don't use any heavy frameworks or archaic languages that can slow
          down your website. We build sites that are lightning fast, responsive,
          and that utilize cutting-edge design guidelines.
        </p>
      </div>
      <div class="mt-8 grid grid-cols-2 gap-4">
        <img
          class="w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
          alt="office content 1"
        />
        <img
          class="mt-4 w-full rounded-lg lg:mt-10"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
          alt="office content 2"
        />
      </div>
    </div>
  </div>
  <!-- <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
    <h2
      class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
    >
      About Yellow City Web Design
    </h2>
    <p class="mb-4">
      My name is Derrick Shaw. I started YCWD in 2024, after I quit my software
      developer job. I have a combined 10 years experience in Information
      technology, full stack development, and web development.
    </p>
    <p>stuff</p>
  </div>

  <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
    <h2
      class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
    >
      Section 2
    </h2>
    <p class="mb-4">
      I have always wanted to get into freelance web development because I can
      combine my hobby and my skills in programming, to make amazing sites for
      people and businesses.
    </p>
    <p>stuff</p>
  </div>

  <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
    <h2
      class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
    >
      Section 3
    </h2>
    <p class="mb-4">
      I am setting out to offer top-notch hand-coded websites, built on modern
      technology, and without all the overhead that comes with heavy, cumbersome
      archaic web frameworks.
    </p>
    <p>
      What this means is that you get a fast website, built around best SEO
      practices, that will consitantly score high on speed tests. I also offer
      hosting that has a proven track record of virtually 100% uptime. This
      means your sites will always be online.
    </p>
  </div>
  <div class="mt-8 grid grid-cols-2 gap-4">
    <img
      class="w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
      alt="office content 1"
    />
    <img
      class="mt-4 w-full rounded-lg lg:mt-10"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
      alt="office content 2"
    />
  </div> -->
</section>
