---
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import FeatureHead from "../components/FeatureHead.astro";
import Expose from "../components/Expose.astro";
import ClientGallery from "../components/ClientGallery.astro";
import TechFeatures from "../components/TechFeatures.astro";
import Pricing from "../components/Pricing.astro";
import CtaBanner from "../components/CtaBanner.astro";
---

<BaseLayout title="Yellow City Web Designs">
  <Hero />
  <FeatureHead />
  <Container>
    <Expose />
    <ClientGallery />
  </Container>
  <div
    class="bg-gradient-to-b from-white to-gray-200 pb-16 dark:bg-gradient-to-b dark:from-gray-800 dark:to-gray-700"
  >
    <TechFeatures />
    <Pricing />
  </div>
  <CtaBanner />
</BaseLayout>
