---
import { Image } from "astro:assets";
import aboutCoImage from "../../public/about-co-image.webp";
import aboutMeImage from "../../public/about-me-image.webp";
import aboutSeoImage from "../../public/about-seo-image.webp";
import aboutDevImage from "../../public/about-dev-image.webp";
---

<div class="max-w-screen-xl items-center px-2 py-10 md:flex">
  <div class="order-first p-10 sm:order-last md:w-1/2">
    <div class="object-center text-center">
      <Image src={aboutCoImage} alt="illustration for about us page" />
    </div>
  </div>
  <div class="order-last p-5 sm:order-first md:w-1/2">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >YCWD</span
      >
      <h2
        class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
      >
        About <span class="text-primary-500">Yellow City Web Designs</span>
      </h2>
      <div class="text-justify text-gray-700 dark:text-gray-300">
        <p>
          YCWD is located in Amarillo, TX. Although we don't have a physical
          location, we "opened our doors" in the fall of 2024. YCWD's goal is to
          make modern websites for people and businesses that need websites to
          just work.
        </p>
        <p>
          Yellow City Web Design is a company built on years of software
          expertise and real world experience behind it. We offer only the best
          web devlopment exeprience with no compromises.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <img
    src="/section-break-one.webp"
    alt="section break one"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>

<div class="max-w-screen-xl items-center pb-12 md:flex">
  <div class="order-first p-10 sm:order-first md:w-1/2">
    <div class="object-center text-center">
      <Image src={aboutMeImage} alt="illustration for about us page" />
    </div>
  </div>
  <div class="order-last p-5 sm:order-last md:w-1/2">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >YCWD</span
      >
      <h2
        class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
      >
        About <span class="text-primary-500">me</span>
      </h2>
      <div class="text-justify text-gray-700 dark:text-gray-300">
        <p>
          My name is Derrick Shaw. I started YCWD in 2024, after I quit my
          software developer job. I have a combined 10 years experience in
          Information technology, full stack development, and web development.
        </p>
        <p>
          I set out to do freelance for a few reasons. First, I want to use my
          talents and my hobbies to create amazing websites. Secondly, you may
          not know this but there are a lot of poorly built sites out there. You
          shouldn't have to suffer through using Wix to make your professional
          business website and I can help with that.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <img
    src="/section-break-two.webp"
    alt="section break one"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>

<div class="max-w-screen-xl items-center pb-12 md:flex">
  <div class="order-last p-10 sm:order-last md:w-1/2">
    <div class="object-center text-center">
      <Image src={aboutSeoImage} alt="illustration for about us page" />
    </div>
  </div>
  <div class="order-first p-5 sm:order-first md:w-1/2">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >YCWD</span
      >
      <h2
        class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
      >
        <span class="text-primary-500">Best in class</span> results
      </h2>
      <div class="text-justify text-gray-700 dark:text-gray-300">
        <p>
          I started YCWD with SEO in mind. I hand-selected a framework that is
          lightweight, fast, and built around SEO best practices. Current web
          design is a race to the bottom. I want to offer a best-in-class web
          experience that doesn't rely on bulky plugins to help in web searches.
        </p>
        <p>
          I also focus on perfomance, accessability, and modern best practices
          when developming websites. We do not cut corners. What this means is
          that you get consistantly high ranking SEO scores, along with top
          speed and pefromance scores across the board.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <img
    src="/section-break-one.webp"
    alt="section break one"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>

<div class="max-w-screen-xl items-center pb-12 md:flex">
  <div class="order-first p-10 sm:order-first md:w-1/2">
    <div class="object-center text-center">
      <Image src={aboutDevImage} alt="illustration for about us page" />
    </div>
  </div>
  <div class="order-last p-5 sm:order-last md:w-1/2">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >YCWD</span
      >
      <h2
        class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
      >
        Web development <span class="text-primary-500">redefined</span>
      </h2>
      <div class="text-justify text-gray-700 dark:text-gray-300">
        <p>
          Our sites are hand-written, with a modern technology stack that
          includes AstroJS and TailwindCSS. Astro is lightweight and uses very
          little JavaScript while Tailwind allows for rapid development due to
          it's utility-first aproach to styling pages.
        </p>
        <p>
          We don't use any heavy frameworks or archaic languages that can slow
          down your website. We build sites that are lightning fast, responsive,
          and that utilize cutting-edge design guidelines.
        </p>
      </div>
    </div>
  </div>
</div>
