---
import { Image } from "astro:assets";
import aboutCoImage from "../../public/about-co.webp";
import aboutMeImage from "../../public/about-me.webp";
import aboutSeoImage from "../../public/about-seo.webp";
import aboutDevImage from "../../public/about-dev.webp";
---

<div class="max-w-screen-xl items-center px-2 py-10 md:flex">
  <div class="order-first p-10 sm:order-last md:w-1/2">
    <div class="object-center text-center">
      <Image
        src={aboutCoImage}
        loading="eager"
        alt="illustration of people looking at web content"
      />
    </div>
  </div>
  <div class="order-last p-5 sm:order-first md:w-1/2">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >YCWD</span
      >
      <h2
        class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
      >
        About <span class="text-primary-500">Yellow City Web Designs</span>
      </h2>
      <div class="text-justify text-gray-700 dark:text-gray-300">
        <p>
          Yellow City Web Design (YCWD), located in Amarillo, TX, officially
          launched in the fall of 2024. Our mission is simple: to create modern,
          high-performing websites for individuals and businesses that expect
          reliability and excellence.
        </p>
        <p>
          Built on a foundation of years of software expertise and hands-on
          experience, YCWD is committed to delivering top-tier web development
          services with zero compromises. We pride ourselves on providing a
          seamless and professional experience for our clients.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <img
    src="/section-break-one.webp"
    alt="section break one"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>

<div class="max-w-screen-xl items-center pb-12 md:flex">
  <div class="order-first p-10 sm:order-first md:w-1/2">
    <div class="object-center text-center">
      <Image src={aboutMeImage} alt="illustration of a man working on code" />
    </div>
  </div>
  <div class="order-last p-5 sm:order-last md:w-1/2">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >YCWD</span
      >
      <h2
        class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
      >
        About <span class="text-primary-500">me</span>
      </h2>
      <div class="text-justify text-gray-700 dark:text-gray-300">
        <p>
          My name is Derrick Shaw., and I founded YCWD in 2024 after leaving my
          software developer role. With 10 years of experience spanning
          Information Technology, full stack development, and web development, I
          bring a deep expertise to every project.
        </p>
        <p>
          I ventured into freelancing for several key reasons. First, I wanted
          to leverage my skills and passion to build exceptional websites.
          Secondly, let’s be honest—there’s an overwhelming number of poorly
          built websites out there. You deserve more than a basic, DIY platform
          like Wix for your professional business. That’s where I come in.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <img
    src="/section-break-two.webp"
    alt="section break one"
    loading="lazy"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>

<div class="max-w-screen-xl items-center pb-12 md:flex">
  <div class="order-last p-10 sm:order-last md:w-1/2">
    <div class="object-center text-center">
      <Image
        src={aboutSeoImage}
        alt="illustration of a search engine and a woman"
      />
    </div>
  </div>
  <div class="order-first p-5 sm:order-first md:w-1/2">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >YCWD</span
      >
      <h2
        class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
      >
        <span class="text-primary-500">Best in class</span> results
      </h2>
      <div class="text-justify text-gray-700 dark:text-gray-300">
        <p>
          I founded YCWD with a clear focus on SEO. I carefully selected a
          lightweight, fast framework that prioritizes SEO best practices. In a
          web design landscape cluttered with bloated WordPress plugins and
          quick fixes, I aim to offer a best-in-class web experience without
          relying on excessive, resource-heavy add-ons.
        </p>
        <p>
          At YCWD, performance, accessibility, and modern best practices are
          central to every website we develop. We don’t cut corners—our approach
          ensures consistently high SEO rankings, lightning-fast speed, and
          superior performance across the board.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <img
    src="/section-break-one.webp"
    alt="section break one"
    loading="lazy"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>

<div class="max-w-screen-xl items-center pb-12 md:flex">
  <div class="order-first p-10 sm:order-first md:w-1/2">
    <div class="object-center text-center">
      <Image
        src={aboutDevImage}
        alt="illustration of multiple devices with different screen sizes and a woman leaning next to them"
      />
    </div>
  </div>
  <div class="order-last p-5 sm:order-last md:w-1/2">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >YCWD</span
      >
      <h2
        class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
      >
        Web development <span class="text-primary-500">redefined</span>
      </h2>
      <div class="text-justify text-gray-700 dark:text-gray-300">
        <p>
          Our websites are meticulously hand-coded, built using a modern
          technology stack that includes AstroJS and TailwindCSS. Astro is
          lightweight and uses minimal JavaScript for optimal performance, while
          Tailwind's utility-first approach allows for rapid, efficient
          development.
        </p>
        <p>
          We avoid bulky frameworks and outdated languages that can bog down
          your site. Instead, we deliver websites that are lightning-fast, fully
          responsive, and built with the latest design standards in mind.
        </p>
      </div>
    </div>
  </div>
</div>
