---

---

<div
  class="mx-8 my-16"
  id="accordion-flush"
  data-accordion="collapse"
  data-active-classes="bg-white dark:bg-gray-800 text-gray-900 dark:text-white"
  data-inactive-classes="text-gray-500 dark:text-gray-400"
>
  <h2
    class="mb-8 text-4xl font-extrabold tracking-tight text-gray-600 dark:text-white"
  >
    Frequently asked questions
  </h2>
  <h2 id="accordion-flush-heading-1">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-1"
      aria-expanded="false"
      aria-controls="accordion-flush-body-1"
    >
      <span>What does free edits include?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-1"
    class="hidden"
    aria-labelledby="accordion-flush-heading-1"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="text-gray-500 dark:text-gray-400">
        After your website is done, if you find any typos, want to change
        verbiage, and add or remove images or graphics, I offer a grace period
        where we can work to get those things adjusted.
      </p>
    </div>
  </div>
  <h2 id="accordion-flush-heading-2">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-2"
      aria-expanded="false"
      aria-controls="accordion-flush-body-2"
    >
      <span> What does unlimited updates mean?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-2"
    class="hidden"
    aria-labelledby="accordion-flush-heading-2"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="text-gray-500 dark:text-gray-400">
        Because you don't know what you might want to add or remove down the
        road, I don't want to lock you into a one-and-done system. If you want
        an extra page added tomorrow or next year, we can do that. Same for
        edits after the grace period.
      </p>
    </div>
  </div>
  <h2 id="accordion-flush-heading-3">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-3"
      aria-expanded="false"
      aria-controls="accordion-flush-body-3"
    >
      <span> How does support work?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-3"
    class="hidden"
    aria-labelledby="accordion-flush-heading-3"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="text-gray-500 dark:text-gray-400">
        You can call or email us at any time and we will get back as soon as we
        are able to. There is no limit to our customer support with regards to
        your website.
      </p>
      <p class="text-gray-500 dark:text-gray-400">
        Feel free to <a
          href="/contact"
          class="font-medium text-primary-600 underline hover:no-underline dark:text-primary-500"
          target="_blank"
          rel="noreferrer">contact us</a
        > and we'll help you out as soon as we can.
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-4">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-4"
      aria-expanded="false"
      aria-controls="accordion-flush-body-4"
    >
      <span>What is a framework? Which ones do you use?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-4"
    class="hidden"
    aria-labelledby="accordion-flush-heading-4"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="mb-1 text-gray-500 dark:text-gray-400">
        A framework is a structure that you can build software on. It serves as
        a foundation, so you’re not starting entirely from scratch.
      </p>
      <p class="mb-1 text-gray-500 dark:text-gray-400">
        After a few months of research and testing, I decided on a stack that
        uses AstroJS, TailwindCSS, Flowbite, ReactJS, and TypeScript. This
        allows for rapid, future-proof development. ReactJS isn't going anywhere
        any time soon, and AstroJS and TailwindCSS are only gaining in
        popularity every day.
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-5">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-5"
      aria-expanded="false"
      aria-controls="accordion-flush-body-5"
    >
      <span> How does the Landing Page package work?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-5"
    class="hidden"
    aria-labelledby="accordion-flush-heading-5"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="text-gray-500 dark:text-gray-400">
        If you go with the Landing Page option, you get a single page website
        with anchored links to each section. You get a hero section, an about us
        section, and a contact form.
        <p class="text-gray-500 dark:text-gray-400">
          But we can work to add as much content as you need for an amazing
          website that will bring in clients. This inclueds galleries,
          newsletter subscription components, carousels, call to action
          components, and really anything you can think up.
        </p>
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-6">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-6"
      aria-expanded="false"
      aria-controls="accordion-flush-body-6"
    >
      <span> How does the Standard package work?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-6"
    class="hidden"
    aria-labelledby="accordion-flush-heading-6"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="mb-1 text-gray-500 dark:text-gray-400">
        I've built a fully featured, fully customizable AstroJS template from
        the ground up, with Flowbite's powerful component library in mind. This
        allows for freedom to set up each page however you want.
      </p>
      <p class="text-gray-500 dark:text-gray-400">
        I've also built a powerful theme engine with full darkmode support as an
        option. Everything is built around your branding colors with contrast in
        mind so your branding will be showcased on both light and dark
        backgrounds.
      </p>
      <p class="text-gray-500 dark:text-gray-400">
        Additionally, you get a multi-page layout starting at 5 pages. You get a
        dedicated About US and Contact page, along with the option for a blog, a
        full gallery page, and even a page dedicated to showcasing your
        services. We can work with you to bring your vision to life.
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-7">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-7"
      aria-expanded="false"
      aria-controls="accordion-flush-body-7"
    >
      <span>What are you using for eCommerce?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-7"
    class="hidden"
    aria-labelledby="accordion-flush-heading-7"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="text-gray-500 dark:text-gray-400">
        I am currently working with Shopify as a CMS option because this has the
        lowest overhead for both the developer and the client, and it also has
        the best balance of features and cost to the client.
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-8">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-8"
      aria-expanded="false"
      aria-controls="accordion-flush-body-8"
    >
      <span> Do you offer blog sites?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-8"
    class="hidden"
    aria-labelledby="accordion-flush-heading-8"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="text-gray-500 dark:text-gray-400">
        We have a blog option powered by Astro's database-free Collections-based
        technology on the front and the fully open soruce ReactJS-powered Decap
        CMS as a backend option.
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-9">
    <button
      type="button"
      class="flex w-full items-center justify-between gap-3 border-b border-gray-200 py-5 font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400 rtl:text-right"
      data-accordion-target="#accordion-flush-body-9"
      aria-expanded="false"
      aria-controls="accordion-flush-body-9"
    >
      <span>Do you offer web hosting?</span>
      <svg
        data-accordion-icon
        class="h-3 w-3 shrink-0 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-9"
    class="hidden"
    aria-labelledby="accordion-flush-heading-9"
  >
    <div class="border-b border-gray-200 py-5 dark:border-gray-700">
      <p class="text-gray-500 dark:text-gray-400">
        We charge $25 per month for web hosting with a minumun 12 month
        contract. If you host with us, you are gauranteed at least a 99.9%
        uptime.
      </p>
    </div>
  </div>
</div>
